{% extends 'base.html.twig' %}

{% block title %}Liste des Groupes Projets{% endblock %}

{% block body %}
    <h1>Liste des Groupes Projets</h1>

    <a href="{{ path('groupe_projet_new') }}" class="btn btn-success mb-3">Ajouter un Groupe Projet</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du Projet</th>
                <th>Matière</th>
                <th>Utilisateurs</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.groupeId }}</td>
                <td>{{ groupe.nomProjet }}</td>
                <td>{{ groupe.matiere }}</td>
                <td>
                    {% for user in groupe.idUser %}
                        {{ user.id }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun groupe trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
