{% extends 'base.html.twig' %}

{% block title %}Créer un Groupe Projet{% endblock %}

{% block body %}
    <h1>Créer un Groupe Projet</h1>

    {{ form_start(form) }}
        {{ form_row(form.groupeId) }}
        {{ form_row(form.nomProjet) }}
        {{ form_row(form.matiere) }}
        {{ form_row(form.idUser) }}

        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('groupe_projet_list') }}">Retour à la liste</a>
{% endblock %}
