{% extends 'base.html.twig' %}

{% block title %}Recommandations{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Recommandations Bien-être</h1>

    <a href="{{ path('app_recommendation_bien_etre_add') }}" class="btn btn-success mb-3">
        + Ajouter une recommandation
    </a>

    {% if recommendations is empty %}
        <div class="alert alert-info">Aucune recommandation trouvée.</div>
    {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Statut</th>
                    <th>Type</th>
<th>Priorité</th>
<th>Appliquée</th>
<th>Date génération</th>
<th>Date consultation</th>

                    
                </tr>
            </thead>
            <tbody>
            {% for r in recommendations %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.descriptionGeneree }}</td>
                    <td>{{ r.statut }}</td>
                    <td>{{ r.typeRecommendation }}</td>
<td>{{ r.priorite }}</td>
<td>{{ r.estAppliquee ? 'Oui' : 'Non' }}</td>
<td>{{ r.dateGeneration ? r.dateGeneration|date('Y-m-d H:i') : '' }}</td>
<td>{{ r.dateConsultation ? r.dateConsultation|date('Y-m-d H:i') : '' }}</td>

                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
